@import "vxe-table/styles/variable.scss";

$vxe-primary-color: #34d399;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Noto Sans SC !important;
  font-weight: 400;
  div {
    box-sizing: border-box;
  }
  .table-header {
    background-color: #34d399;
    color: #fff;
  }
  .markdown-body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .login-wapper {
    background-image: url("../assets/img/login_bg.png");
  }
}

/**
 * 全局滚动条样式
*/
// 滚动条背景，宽高
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

// 滚动条轨道
::-webkit-scrollbar-track {
  border: none;
  background-color: #fff;
}

// 滚动条滑块
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(144, 147, 153, 0.3);
  cursor: pointer;
}
@import "vxe-table/styles/modules.scss";
