.z-button {
  @apply inline-block transition-all outline-none bg-blue-600 focus:border-blue-300  px-4 py-2 bg-blue-600	focus:border-blue-300 rounded-lg text-white m-1 duration-500  text-center truncate max-w-xs;
  &:hover,
  &:focus {
    @apply outline-none  ring bg-opacity-70;
  }
  &.round {
    @apply rounded-full;
  }
  &.success {
    @apply bg-green-400;
  }
  &.error {
    @apply bg-red-400;
  }
  &.warning {
    @apply bg-yellow-500;
  }
  &.info {
    @apply bg-gray-400;
  }
  &.text {
    @apply px-2 py-1 ring-0 border-none rounded-none text-blue-500 border-0 bg-transparent;
  }
}
.word-inline {
  word-break: keep-all;
}
.setting-login {
  width: 14px;
}
.height-slider {
  height: calc(100vh - 42px);
}
.main-content {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
.rigth-menu {
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.slider-bar {
  .el-submenu {
    &.is-opened {
      outline: 0 !important;
      @apply bg-blue-100;
    }
    .el-submenu__title:focus,
    .el-submenu__title:hover {
      outline: 0 !important;
      @apply bg-blue-100;
    }
  }
}
/*v-enter 是进入之前，元素的起始状态*/
/*v-leave-to 离开之后动画的终止状态*/
.v-enter,
.v-leave-to {
  opacity: 0; /*透明度*/
  transform: scale3d(-45edge);
}
/*入场(离场)动画的时间段   */
.v-enter-active,
.v-leave-active {
  transition: all 0.8s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-leave,
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s;
}
.scale-enter,
.scale-leave-to {
  transform: scale(0);
}
.scale-leave,
.scale-enter-to {
 opacity: 0;
  transform: scale(1);
}
.scale-enter-active,
.scale-leave-active {
  transition: all 0.4s;
}
.left-enter,
.left-leave-to {
  transform: translate3d(-100%, 0, 0);
}
.left-leave,
.left-enter-to {
  transform: translate3d(0, 0, 0);
}
.left-enter-active,
.left-leave-active {
  transition: all 0.4s;
}
.right-enter,
.right-leave-to {
  transform: translate3d(100%, 0, 0);
}
.right-leave,
.right-enter-to {
  transform: translate3d(0, 0, 0);
}
.right-enter-active,
.right-leave-active {
  transition: all 0.4s;
}
.top-enter,
.top-leave-to {
  transform: translate3d(0, -100%, 0);
}
.top-leave,
.top-enter-to {
  transform: translate3d(0, 0, 0);
}
.top-enter-active,
.top-leave-active {
  transition: all 0.4s;
}
